anthropic
requests
beautifulsoup4
protobuf==4.25.9
python-dotenv
pandas
streamlit
langchain
langchain-anthropic
langchain-community
chromadb==1.5.9
sentence-transformers
lxml
tavily-python==0.7.24
elevenlabs==2.50.0